/*=============== GOOGLE FONTS =============== */
@import url('https://fonts.googleapis.com/css2?family=Federo&family=Montserrat:wght@400;500;600&display=swap');

/*=============== VARIABLE CSS =============== */
:root {
	/*========= COLORS ========= */
	/* Color mode HSL(hue, satuartion, lightness) */
	--red-color: hsl(2, 72%, 50%);
	--black-color: hsl(75, 4%, 18%);
	--text-color: hsl(75, 4%, 12%);
	--text-color-light: hsl(75, 4%, 75%);
	--body-color: hsl(0, 0%, 75%);
	--container-color: hsl(75, 15%, 85%);

	/*========= FONT AND TYPOGRAPHY ========= */
	/* 0.5rem = 8px, 1rem = 16px .... */

	--body-font: "Montserrat", sans-sarif;
	--h2-font-size: 1.25rem;
	--small-font-size:	0.813rem;
}

/*=============== RESPONSIVE TYPOGRAPHY =============== */
@media screen and (min-width: 1024px) {
	:root {
		--h1-font: 2.25rem;
		--h2-font: 1.5rem;
	}
}

/*=============== BASE =============== */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	background-color: var(--body-color);
	color: var(--text-color);
}